body {
  overflow-x: hidden;
}

#wrappersr {
  padding-right: 20%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrappersr.toggled {
  padding-right: 20%;
}

#sidebar-wrappersr{
  z-index: 1000;
  position: fixed;
  right: 20%;
  width: 0;
  height: 100%;
  margin-right: -20%;
  overflow-y: auto;
  background: #737373;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrappersr.toggled #sidebar-wrappers {
  width: 20%;
}

/* Sidebar Styles */

.sidebar-navr {
  position: absolute;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-navr li {
  text-indent: 20px;
  line-height: 50px;
}

.sidebar-navr li a {
  display: block;
  text-decoration: none;
  color: #000;
}

.sidebar-navr li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.5);
}

.sidebar-navr li a:active, .sidebar-navr li a:focus {
  text-decoration: none;
}

#columns {
  list-style-type: none;
}
.column {
  width: 80%;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 0px;
  text-align: left;
  cursor: move;
}
.column.dragElem {
  opacity: 0.4;
}
.column.over {
  //border: 2px dashed #000;
  border-top: 2px solid #33cc33;
}

@media(min-width:768px) {
  #wrappersr {
    padding-right: 20%;
  }
  #wrappersr.toggled {
    padding-right: 20%;
  }
  #sidebar-wrappersr {
    width: 20%;
  }
  #wrappersr.toggled #sidebar-wrappersr {
    width: 20%;
  }
}
