doctype html
html(lang='de')
  // ======= Meta Tags =======
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(http-equiv='x-ua-compatible', content='ie=edge')
  title Homepage Arzt
  // ======= CSS dependencies =======
  // Bootstrap v3.3.7
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  // Font awesome v4.7.0
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
  body(onload='startTime()')
    // ======= Navbar =======
    nav.navbar.navbar-inverse
      .container-fluid(style='font-size: 20px')
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          // Home Icon
          a.navbar-brand.fa.fa-home(data-toggle='tooltip', title='Home', aria-hidden='true', href='#')
        #myNavbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            // User
            // Template: username p= user
            li
              p#user.navbar-text.fa.fa-user-md(style='color: orange', aria-hidden='true')= user
            // Navigation
            li
              a(href='/public/role/arzt/ansicht/warteraumansicht') Warteraumansicht
            li
              a(href='/public/role/arzt/ansicht/arztansicht') Arztansicht
            li
              a(href='/public/role/arzt/ansicht/logs') Logging Historie
          ul.nav.navbar-nav.navbar-right
            // Time
            li
              p#clock.navbar-text
            // Logout button
            li(data-toggle='tooltip', title='Logout')
              a.fa.fa-power-off(style='color: red', href='/public/role/logout', aria-hidden='true')
    // ======= Mid-Section =======
    .container
      #ansichten.row
        // Warteraumansicht
        .col-xs-12.col-sm-6.col-md-4.col-lg-4
          .thumbnail
            a(data-toggle='tooltip', title='Warteraumansicht', href='/public/role/arzt/ansicht/warteraumansicht')
              img(src='/public/resources/img/ecard_blur.jpg', alt='Warteraumansicht')
            .caption
              h3 Warteraumansicht
              p Hier können Sie die vergangen Patientenaktionen einsehen.
        // Arztansicht
        .col-xs-12.col-sm-6.col-md-4.col-lg-4
          .thumbnail
            a(data-toggle='tooltip', title='Arztansicht', href='/public/role/arzt/ansicht/arztansicht')
              img(src='/public/resources/img/LogoWebseite_doc.jpg', alt='Arztansicht')
            .caption
              h3 Arztansicht
              p
                | Über diese Ansicht können Sie die Patienten in der Warteliste verwalten und ihre Stammdaten einsehen.
        // Logging
        .col-xs-12.col-sm-6.col-md-4.col-lg-4
          .thumbnail
            a(data-toggle='tooltip', title='Logging Historie', href='/public/role/arzt/ansicht/logs')
              img(src='/public/resources/img/LogoWebseite_Log.jpg', alt='Logging Historie')
            .caption
              h3 Logging Historie
              p Hier können Sie die vergangenen Veränderungen der Patientendaten einsehen.
      // ======= Footer =======
      div
        hr.featurette-divider
        footer
          p
            | © 2018 Five4U, Diplomprojekt ·
            a(href='/public/impressum.html') Impressum
            span(style='float: right;')
              | E-Card Selbstanmeldungs Tool ·
              a(href='/public/info.html') Info
    // ======= JS Dependencies =======
    // jQuery library
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    // Latest compiled JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    // Time Script
    script(type='text/javascript', src='/public/resources/js/time.js')
    // jQuery Animation
    script(type='text/javascript').
      $(document).ready(function() {
      $("#ansichten div div.thumbnail").hover(function(){
      $(this).css("border", "green solid 1.2px");
      }, function(){
      $(this).css("border", "#ddd solid 1px");
      });
      });
