doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    style.
      #warning {
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      color: red;
      }
    title Signin Template for Bootstrap
    // Bootstrap CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css', integrity='sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb', crossorigin='anonymous')
    link(href='signin.css', rel='stylesheet')
  body
    .container
      form.form-signin
        h2.form-signin-heading e-card Selbstanmeldungstool
        label.sr-only(for='inputEmail') username
        input#inputEmail.form-control(type='email', placeholder='User-Name', required='', autofocus='')
        label.sr-only(for='inputPassword') password
        input#inputPassword.form-control(type='password', placeholder='Passwort', required='')
        .checkbox
          label
            input(type='checkbox', value='remember-me')
            |  Angemeldet bleiben
        button.btn.btn-lg.btn-primary.btn-block(type='submit', onclick="window.location.href='/role/arzt/arztansicht.html'") Anmelden
        p
        p#warning= warning
    // /container
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js', integrity='sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js', integrity='sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ', crossorigin='anonymous')

