doctype html
html
  head
    // ======= Meta Tags =======
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Logging Historie
    // ======= CSS Dependencies =======
    // Bootstrap v3.3.7
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    // W3schools CSS
    link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
    // Font awesome v4.7.0
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    // Data Table CSS Library
    link(rel='stylesheet', type='text/css', href='//cdn.datatables.net/1.10.16/css/jquery.dataTables.css')
    // Tab CSS Libary
    link(rel='stylesheet', type='text/css', href='/public/resources/css/style_tabelle.css', media='screen')
    // Tabelle - Sortierung
    // <link rel="stylesheet" type="text/css" href="/public/resources/css/style_tabelle_dms.css" media="screen" />
  body(onload='startTime()')
    // ======= Navbar =======
    nav.navbar.navbar-inverse.navbar-static-top(style='position:fixed; width:100%;')
      .container-fluid(style='font-size: 20px')
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          // Home Icon
          a.navbar-brand.fa.fa-home.fa-2x(data-toggle='tooltip', title='Home', aria-hidden='true', href='/role/arzt/ansicht/homepage')
        #myNavbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              p.navbar-text.fa.fa-user-md.fa-2x(style='color: orange', aria-hidden='true')
                | &nbsp
                span#user= user
            // Navigation
            li
              a(href='/role/arzt/ansicht/warteraumansicht', style='margin-top: 5%') Warteraumansicht
            li
              a(href='/role/arzt/ansicht/arztansicht', style='margin-top: 7%') Arztansicht
            li
              a(href='/role/arzt/ansicht/logs', style='margin-top: 5%') Logging Historie
          ul.nav.navbar-nav.navbar-right
            // Time
            li
              p#clock.navbar-text(style='margin-top: 15.5%;')
            // Logout button
            li(data-toggle='tooltip', title='Logout')
              a.fa.fa-power-off.fa-2x(style='color: red; margin-top: 17%;', href='/public/role/logout', aria-hidden='true')
    // ======= Mid-Section =======
    // Tablinks
    .container(style='width: 90%;')
      .tab(style='margin-top: 75px; margin-bottom: 25px')
        button.tablinks(onclick="openTab(event, '1')") Patientenanmeldungen
        button.tablinks(onclick="openTab(event, '3')") Patienteneinschreibungen
        button.tablinks(onclick="openTab(event, '5')") Login-Aktivitäten
      // Log Table
      #logtablecontainer
        table#logtable.display(cellspacing='0', width='100%')
          thead
            tr#tabletop
              th ID
              th Datum
              th Username
          tbody#tablebody
      // ======= Footer =======
      div
        hr.featurette-divider
        footer
          p
            | © 2018 Five4U, Diplomprojekt ·
            a(href='/public/impressum.html') Impressum
            span(style='float: right;')
              | E-Card Selbstanmeldungs Tool ·
              a(href='/public/info.html') Info
    // ======= JS Dependencies =======
    // jQuery library
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    // Latest compiled JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    // jQuery
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    // Time Script
    script(type='text/javascript', src='/public/resources/js/time.js')
    // Table Library
    script(type='text/javascript', charset='utf8', src='//cdn.datatables.net/1.10.16/js/jquery.dataTables.js')
    // Log Dump Script
    script(src='/public/resources/js/logdump.js', charset='utf-8')
    // Tab Script
    script(type='text/javascript').
      // Initialize DataTable
      $(document).ready(function() {
      initDataTable();
      openTab(event, '5');
      });
      // Tab Function
      function openTab(evt, logArt) {
      var i, tablinks;
      // Change the Tab Focus Background
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      // Request log data and show them in the table
      logdump(logArt);
      // Set current tab-item to active
      evt.currentTarget.className += " active";
      }
