doctype html
html
  head
    // ======= Meta Tags =======
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Warteraumansicht
    // ======= CSS Dependencies =======
    // Bootstrap v3.3.7
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    // W3schools CSS
    link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
    // Font awesome v4.7.0
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    // Tabelle bzw. Tabs CSS
    link(rel='stylesheet', type='text/css', href='/public/resources/css/style_tabelle.css', media='screen')
    // Tabelle - Sortierung
    link(rel='stylesheet', type='text/css', href='/public/resources/css/style_tabelle_dms.css', media='screen')
  body(onload='startTime()')
    // ======= Navbar =======
    nav.navbar.navbar-inverse.navbar-static-top.fullscreenhide(style='position:fixed; width:100%;')
      .container-fluid(style='font-size: 20px')
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          // Home Icon
          a.navbar-brand.fa.fa-home.fa-2x(data-toggle='tooltip', title='Home', aria-hidden='true', href='/role/arzt/ansicht/homepage')
        #myNavbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            // Template: username p= user
            li
              p#user.navbar-text.fa.fa-user-md.fa-2x(style='color: orange', aria-hidden='true')= user
            // Navigation
            li
              a(href='/role/arzt/ansicht/warteraumansicht', style='margin-top: 5%') Warteraumansicht
            li
              a(href='/role/arzt/ansicht/arztansicht', style='margin-top: 7%') Arztansicht
            li
              a(href='/role/arzt/ansicht/logs', style='margin-top: 5%') Logging Historie
          ul.nav.navbar-nav.navbar-right
            // Time
            li
              p#clock.navbar-text(style='margin-top: 15.5%;')
            // Logout button
            li(data-toggle='tooltip', title='Logout')
              a.fa.fa-power-off.fa-2x(style='color: red; margin-top: 17%;', href='/role/logout', aria-hidden='true')
    // ======= Mid-Section =======
    .container
      // Logos oben links bzw. rechts
      span
        img(src='/public/resources/img/svc.png', style='margin-top: 10%; float:right; width: 10%; height: 7.5%')
      // Warteliste Name
      span#patientCalled
        font(size='80')
          i.fa.fa-user-plus.fa-3x(style='margin-top: 10%')
      span#patientCall.patientGreen
        font(size='80') &nbsp
      // Nachrichten-Feed
      div(style='margin-top:50px')
        script(type='text/javascript', src='https://feed.mikle.com/js/fw-loader.js', data-fw-param='66253/')
    // ======= JS Dependencies =======
    // jQuery library
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    // Latest compiled JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='https://code.jquery.com/jquery-1.12.4.js')
    // Voice Library
    script(src='https://code.responsivevoice.org/responsivevoice.js')
    // SSE Receiver
    script(type='text/javascript', src='/public/resources/js/warteraumssereceiver.js')
    // Time Script
    script(type='text/javascript', src='/public/resources/js/time.js')
    script.
      function fullscreen() {
      var isInFullScreen = (document.fullscreenElement && document.fullscreenElement !== null) ||
      (document.webkitFullscreenElement && document.webkitFullscreenElement !== null) ||
      (document.mozFullScreenElement && document.mozFullScreenElement !== null) ||
      (document.msFullscreenElement && document.msFullscreenElement !== null);
      var docElm = document.documentElement;
      if (!isInFullScreen) {
      if (docElm.requestFullscreen) {
      docElm.requestFullscreen();
      } else if (docElm.mozRequestFullScreen) {
      docElm.mozRequestFullScreen();
      } else if (docElm.webkitRequestFullScreen) {
      docElm.webkitRequestFullScreen();
      } else if (docElm.msRequestFullscreen) {
      docElm.msRequestFullscreen();
      }
      } else {
      if (document.exitFullscreen) {
      document.exitFullscreen();
      } else if (document.webkitExitFullscreen) {
      document.webkitExitFullscreen();
      } else if (document.mozCancelFullScreen) {
      document.mozCancelFullScreen();
      } else if (document.msExitFullscreen) {
      document.msExitFullscreen();
      }
      }
      }
      $(document).keydown(function (event) {
      if (event.keyCode == 13) {
      fullscreen();
      $(".fullscreenhide").toggle();
      }
      });
