table {
	text-align: left;
}

table.update {
	width: 100%;
	border-collapse: collapse;
}

table.update tr, td {
	width: 10%;
	border: 1px solid black;
	padding: 15px;
}

table.thead {
	width: 100%;
	border: 1px solid black;
	border-collapse: collapse;
}

table.thead tr, th {
	width: 10%;
	border: 1px solid black;
	padding: 15px;
}
